a{
    text-decoration: none;
}

/* html,body{transform: scale(1.25);}  */ 
/* 1.顶部 */
.title{
    height: 55px;
    background-color: #F7F7F7;
}
.title-top{
    /* height: 55px; */
    /* background-color: aqua; */
    overflow: hidden;
}
.title-top-left span p{
    float: left;
    font-size: 15px;
    color: #666666;
    margin-top: 21px;
}
.title-top-left span a{
    float: left;
    font-size: 16px;
    color: #CC0000;
    margin-left: 16px;
    margin-top: 21px;
}
.title-top-right{
    float: right;
    height: 55px;
}
.title-top-right-phone{
    float: left;
}
.title-top-right-phone img{
    float: left;
    width: 17px;
    height: 24px;
    color:#666666;
    margin-top: 16px;
}
.title-top-right-phone a{
    float: right;
    margin-left: 8px;
    font-size: 16px;
    color: #666666;
    margin-top: 21px;
}
.title-top-right-two{
    float: left;
    margin-left: 35px;
    margin-top: 21px;
}
.title-top-right-two a{
    font-size: 16px;
    color: #666666;
}
.title-top-right-two i{
    font-size: 16px;
    color: #666666;
    padding: 0 9px;
}
.title-top-right-three{
    float: right;
    margin: 0 30px;
    margin-top: 21px;
}
.title-top-right-three img{
    float: left;
    width: 15px;
    height: 16px;
    color:#666666;
}
.title-top-right-three a{
    float: right;
    margin-left: 8px;
    font-size: 16px;
    color: #666666;
}
/* 2.搜索框 */
.search-content{
    height: 137px;
    /* background-color: aqua; */
}
.search-content-left-logo img{
    float: left;
    width: 251px;
    height: 64px;
    margin-top: 38px;
}
.search-content-size-one img{
    float: left;
    width: 26px;
    height: 32px;
    margin-top: 55px;
    margin-left: 52px;
}
.search-content-size-one a{
    float: left;
    font-size: 18px;
    color: #2178D4;
    margin-top: 62px;
    margin-left: 10px;
}
.search-content-size-two img{
    float: left;
    width: 43px;
    height: 32px;
    margin-top: 55px;
    margin-left: 28px;
}
.search-content-size-two a{
    float: left;
    font-size: 18px;
    color: #666666;
    margin-top: 62px;
    margin-left: 10px;
}
.search-content-right-logo{
    float: right;
}
.search-content-right-logo img{
    float: left;
    width: 107px;
    height: 65px;
    margin-top: 34px;
}
.search-content-right-logo input{
    float: left;
    width: 563px;
    height: 48px;
    margin-top: 44px;
    margin-left: 30px;
    font-size: 18px;
}
.search-content-right-logo a img{
    float: right;
    width: 52px;
    height: 52px;
    margin-top: 44px;
}
/* 3.内容切换  */
.contentswitching{
    height: 56px;
    background-color: #2178D4;
}
.contentswitching-size{
    float: left;
}
.contentswitching-size .one{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
}
.contentswitching-size .one a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .one:hover{
    background-color: #F64949;
}

.contentswitching-size .two{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .two a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .two:hover{
    background-color: #F64949;
}

.contentswitching-size .three{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .three a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .three:hover{
    background-color: #F64949;
}

.contentswitching-size .for-d{
    float: left;
    width: 161px;
    height: 56px;
    line-height: 56px;
    padding-left: 50px;
}
.contentswitching-size .for-d a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 20px;
}
.contentswitching-size .for-d:hover{
    background-color: #F64949;
}

.contentswitching-size .five{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .five a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 39px;
}
.contentswitching-size .five:hover{
    background-color: #F64949;
}

.contentswitching-size .six{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .six a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 30px;
}
.contentswitching-size .six:hover{
    background-color: #F64949;
}

.contentswitching-size .seven{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .seven a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 46px;
}
.contentswitching-size .seven:hover{
    background-color: #F64949;
}

.contentswitching-size .eight{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .eight a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 36px;
}
.contentswitching-size .eight:hover{
    background-color: #F64949;
}

/*  */

main{
    float: left;
    width: 100%;
}

.news{
    float: left;
    width: 1650px;
    height: 404px;
    background-color: #f1f1f1;
}

.container{
    height: 100%;
    margin: 0 160px;
}

.news-left{
    float: left;
    width: 588px;
    height: 324px;
    margin-top: 40px;
    margin-right: 10px;
    background-color: #ffffff;
}

.news-right{
    float: left;
    width: 588px;
    height: 324px;
    margin-top: 40px;
    margin-left: 10px;
    background-color: #ffffff;
}



.news-content{
    width: 558px;
    height: 300px;
    margin: 15px;
}

.news-title{
    float: left;
    width: 524px;
    height: 22px;
    padding-left: 34px;
    margin-bottom: 18px;
}

.news-title h3{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.news-title a{
    float: right;
    font-size: 14px;
    color: #999;
}

.news-bg{
    float: left;
    width: 240px;
    height: 140px;
}

.news-bg img{
    float: left;
    width: 240px;
    height: 140px;
}

.news-text{
    float: left;
    width: 293px;
    height: 114px;
    margin-left: 20px;
}

.news-text a{
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.news-content p{
    float: left;
    width: 100%;
    height: 20px;
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    margin: 0;
}  


.newspaper{
    float: left;
    width: 100%;
    height: 440px;
}

.newspaper-title{
    float: left;
    width: 1650px;
    height: 35px;
    padding-top: 30px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
}

.newspaper-title-bg{
    float: left;
    width: 25px;
    height:20px;
    padding-bottom: 14px;
    border-bottom: 3px solid #cccccc;
    background-image: url(../img/bank_newspaper_icon.png);
    background-repeat: no-repeat;
}

.newspaper-title-name{
    float: left;
    font-size: 18px;
    padding-left: 9px;
    margin: 0;
}

.newspaper-title a{
    float: right;
    font-size: 14px;
    color: #666;
}

.newspaper-list{
    list-style: none;
}

.newspaper-list li{
    float: left;
    width: 215px;
    height: 320px;
    margin-right: 45px;
}

.newspaper-list img{
    float: left;
    width: 186px;
    height: 280px;
}

.newspaper-list div{
    float: left;
    width: 215px;
    height: 20px;
    margin: 10px 0;
    font-size: 13px;
    color: #666;
}


.manager{
    float: left;
    width: 100%;
    height: 735px;
    background-color: #f1f1f1;
}

.manager-title{
    float: left;
    width: 1650px;
    height: 35px;
    padding-top: 30px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 22px;
}

.manager-title-bg{
    float: left;
    width: 25px;
    height:20px;
    padding-bottom: 14px;
    border-bottom: 3px solid #cccccc;
    background-image: url(../img/touzizhe_icon.png);
    background-repeat: no-repeat;
}

.manager-title-name{
    float: left;
    font-size: 18px;
    padding-left: 9px;
    margin: 0;
}


.bank-note{
    float: left;
    width: 505px;
    height: 285px;
    border: 1px solid #d3d3d3;
    margin-bottom: 15px;
}

.s1{
    display: block;
    margin: 25px 0 25px 10px;
    width: 495px;
    height: 20px;
    color: #2178d4;
    font-size: 16px;
    font-weight: bold;
}


.bank-note a{
    float: right;
    font-size: 14px;
    color: #666;
    font-weight: initial;
    margin-right: 10px;
}

.bank-note p{
    width: 495px;
    height: 20px;
    margin: 0;
    margin-left: 10px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #333333;
}

.bank-note p span{
    font-size: 14px;
    color: #2178d4;
}


.about-manager{
    float: right;
    width: 625px;
    height: 582px;
}

.about-manager img{
    width: 625px;
    height: 582px;
}

.bank-report{
    float: left;
    width: 507px;
    height: 287px;
    border: 1px solid #d3d3d3;
    margin-bottom: 25px;
}

.report-content-left{
    float: left;
    margin-top: 45px;
    margin-left: 55px;
    width: 103px;
    height: 237px;
}

.p1{
    width: 97px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 16px !important;
    color: #333333 !important;
    font-weight: bold;
}

.report-content-left p{
    width: 103px;
    height: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}


.report-content-right{
    float: right;
    margin-top: 45px;
    margin-right: 55px;
    width: 173px;
    height: 237px;
}


.report-content-right p{
    width: 173px;
    height: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}


.about-quick{
    float: left;
    width: 100%;
    height: 285px;
}

.about-quick-line{
    float: left;
    width: 487px;
    height: 0px;
    border:2px solid #adadad;
    margin-top: 128px;
}

.about-quick-list{
    float:left;
    width: 628px;
    height: 133px;
    padding-top: 85px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
}


.about-quick-list li{
    float: left;
    width: 76px;
    height: 133px;
    margin-right: 80px;
}

.about-quick-list li img{
    float: left;
    width: 76px;
    height: 74px;
}

.about-quick-list li span{
    float: left;
    width: 76px;
    height: 20px;
    padding-top: 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
/* 11.底部 */
.under{
    height: 337px;
    background-color: #2279D5;
    margin-top: 1859px;
}
.under-content-left{
    float: left;
    width: 100px;
}
.under-content-left>ul>li{
    float: left;
    width: 840px;
    font-size: 18px;
    color: #C0DEFD;
    padding: 20px 0;
}
.under-content-right{
    width: 360px;
    height: 108px;
    margin-left: 832px;
    /* background-color: #FFFFFF; */
}
.under-content-right p{
    width: 352px;
    text-align: right;
    color: #FFFFFF;
    padding: 20px 0;
    font-size: 18px;
}
.under-content-right-logo{
    float: left;
    margin-left: 1262px;
}
.under-content-right-logo p{
    text-align: center;
    margin-top: 10px;
    color: #C0DEFD;
    font-size: 18px;
}
.under-content-right-logo-two{
    float: left;
    margin-left: 40px;
}
.under-content-right-logo-two p{
    text-align: center;
    margin-top: 10px;
    color: #C0DEFD;
    font-size: 18px;
}
.under-content-right .nb{
    font-size: 32px;
}