/* 1.顶部 */
.title{
    height: 55px;
    background-color: #F7F7F7;
}
.title-top{
    /* height: 55px; */
    /* background-color: aqua; */
    overflow: hidden;
}
.title-top-left span p{
    float: left;
    font-size: 15px;
    color: #666666;
    margin-top: 21px;
}
.title-top-left span a{
    float: left;
    font-size: 16px;
    color: #CC0000;
    margin-left: 16px;
    margin-top: 21px;
}
.title-top-right{
    float: right;
    height: 55px;
}
.title-top-right-phone{
    float: left;
}
.title-top-right-phone img{
    float: left;
    width: 17px;
    height: 24px;
    color:#666666;
    margin-top: 16px;
}
.title-top-right-phone a{
    float: right;
    margin-left: 8px;
    font-size: 16px;
    color: #666666;
    margin-top: 21px;
}
.title-top-right-two{
    float: left;
    margin-left: 35px;
    margin-top: 21px;
}
.title-top-right-two a{
    font-size: 16px;
    color: #666666;
}
.title-top-right-two i{
    font-size: 16px;
    color: #666666;
    padding: 0 9px;
}
.title-top-right-three{
    float: right;
    margin: 0 30px;
    margin-top: 21px;
}
.title-top-right-three img{
    float: left;
    width: 15px;
    height: 16px;
    color:#666666;
}
.title-top-right-three a{
    float: right;
    margin-left: 8px;
    font-size: 16px;
    color: #666666;
}
/* 2.搜索框 */
.search-content{
    height: 137px;
    /* background-color: aqua; */
}
.search-content-left-logo img{
    float: left;
    width: 251px;
    height: 64px;
    margin-top: 38px;
}
.search-content-size-one img{
    float: left;
    width: 26px;
    height: 32px;
    margin-top: 55px;
    margin-left: 52px;
}
.search-content-size-one a{
    float: left;
    font-size: 18px;
    color: #2178D4;
    margin-top: 62px;
    margin-left: 10px;
}
.search-content-size-two img{
    float: left;
    width: 43px;
    height: 32px;
    margin-top: 55px;
    margin-left: 28px;
}
.search-content-size-two a{
    float: left;
    font-size: 18px;
    color: #666666;
    margin-top: 62px;
    margin-left: 10px;
}
.search-content-right-logo{
    float: right;
}
.search-content-right-logo img{
    float: left;
    width: 107px;
    height: 65px;
    margin-top: 34px;
}
.search-content-right-logo input{
    float: left;
    width: 563px;
    height: 48px;
    margin-top: 44px;
    margin-left: 30px;
    font-size: 18px;
}
.search-content-right-logo a img{
    float: right;
    width: 52px;
    height: 52px;
    margin-top: 44px;
}
/* 3.内容切换  */
.contentswitching{
    height: 56px;
    background-color: #2178D4;
}
.contentswitching-size{
    float: left;
}
.contentswitching-size .one{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
}
.contentswitching-size .one a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .one:hover{
    background-color: #F64949;
}

.contentswitching-size .two{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .two a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .two:hover{
    background-color: #F64949;
}

.contentswitching-size .three{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .three a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 59px;
}
.contentswitching-size .three:hover{
    background-color: #F64949;
}

.contentswitching-size .for-d{
    float: left;
    width: 161px;
    height: 56px;
    line-height: 56px;
    padding-left: 50px;
}
.contentswitching-size .for-d a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 20px;
}
.contentswitching-size .for-d:hover{
    background-color: #F64949;
}

.contentswitching-size .five{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .five a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 39px;
}
.contentswitching-size .five:hover{
    background-color: #F64949;
}

.contentswitching-size .six{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .six a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 30px;
}
.contentswitching-size .six:hover{
    background-color: #F64949;
}

.contentswitching-size .seven{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .seven a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 46px;
}
.contentswitching-size .seven:hover{
    background-color: #F64949;
}

.contentswitching-size .eight{
    float: left;
    width: 161px;
    height: 56px;
    background-color: #2178D4;
    margin-left: 32px;
}
.contentswitching-size .eight a{
    font-size: 21px;
    color: #FFFFFF;
    line-height: 56px;
    padding-left: 36px;
}
.contentswitching-size .eight:hover{
    background-color: #F64949;
}
/* 4.轮播图 */
.lunbotu{
    height: 520px;
    background-color: aqua;
}
.tu img{
    width: 1903px;
    height: 520px;
}
/* .lunbotu-content{
    float: right;
    width: 399px;
    height: 482px;
    background-color: rgb(255, 255, 255);
} */
/* 5.快捷服务 */
.fuwu{
    height: 363px;
    /* background-color: aqua; */
}
.fuwu-content{
    margin-top: 47px;
}
.fuwu-content-left-top{
    float: left;
    border-bottom: 1px solid #DBDBDB;
    width: 1011px;
    height: 33px;
}
.fuwu-content-left-top img{
    float: left;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 6px;
}
.fuwu-content-left-top h2{
    float: left;
    font-size: 25px;
    margin-left: 9px;
}
.fuwu-content-left-top i{
    float: left;
    font-size: 15px;
    color: #999999;
    margin-left: 26px;
    margin-top: 11px;
}
.fuwu-content-right-top{
    float: left;
    border-bottom: 1px solid #DBDBDB;
    width: 585px;
    height: 33px;
    margin-left: 54px;
}
.fuwu-content-right-top img{
    float: left;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 6px;
}
.fuwu-content-right-top h2{
    float: left;
    font-size: 25px;
    margin-left: 9px;
}
.leixin{
    float: left;
    height: 275px;
}
.leixin ul{
    float: left;
    margin-top: 35px;
}
.leixin li{
    float: left;
    margin-top: 50px;
    padding: 0 52px;
}
.leixin li p{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.leixin li .lalala img{
    height: 86px;
}
.leixin-two{
    float: left;
    width: 119px;
    height: 139px;
    background-color: #2178D4;
    margin-top: 47px;
}
.leixin-two img{
    width: 44px;
    height: 41px;
    line-height: 139px;
    margin-left: 40px;
    margin-top: 32px;
}
.leixin-two p{
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 14px;
}
.leixin-two-right{
    float: left;
    width: 119px;
    height: 139px;
    background-color: #2178D4;
    margin-top: 47px;
    margin-left: 1px;
}
.leixin-two-right img{
    width: 44px;
    height: 41px;
    line-height: 139px;
    margin-left: 40px;
    margin-top: 32px;
}
.leixin-two-right p{
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 14px;
}
/* 6.推荐 */
.Recommend{
    height: 395px;
    /* background-color: aqua; */
    overflow: hidden;
}
.Recommend-top{
    float: left;
    border-bottom: 1px solid #DBDBDB;
    width: 1650px;
    height: 33px;
}
.Recommend-top img{
    float: left;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 6px;
}
.Recommend-top h2{
    float: left;
    font-size: 25px;
    margin-left: 9px;
}
.Recommend-content li{
    float: left;
    padding: 0 56px;
    margin-top: 62px;
}
.Recommend-content a img{
    width: 300px;
    height: 200px;
}
.Recommend-content a p{
    text-align: center;
    font-size: 14px;
    color: #666666;
    margin-top: 40px;
}
/* 7.特色 */
.characteristic{
    height: 645px;
    /* background-color: aqua; */
}
.characteristic-top{
    float: left;
    border-bottom: 1px solid #DBDBDB;
    width: 1650px;
    height: 33px;
}
.characteristic-top img{
    float: left;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 6px;
}
.characteristic-top h2{
    float: left;
    font-size: 25px;
    margin-left: 9px;
}
.characteristic-top p{
    float: right;
    line-height: 33px;
    font-size: 16px;
    color: #999999;
}
.characteristic-content li{
    float: left;
    width: 297px;
    height: 317px;
    background-color: #FFFFFF;
    margin: 0 16px;
    margin-top: 110px;
}
.characteristic-content li img{
    width: 297px;
    height: 226px;
}
.characteristic-content li p{
    font-size: 15px;
    color: #666666;
    margin-top: 35px;
    margin-left: 108px;
}
.characteristic-bottom li{
    float: left;
    width: 34px;
    height: 34px;
    background-color: #2178D4;
    margin-left: 1px;
    margin-top: 63px;
}
.characteristic-bottom li i{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 34px;
    margin-left: 8px;
}
/* 8.电子银行 */
.E-banking{
    height: 675px;
    background-color: #2279D5;
}
.E-banking-content li{
    float: left;
    width: 523px;
    height: 501px;
    background-color: #FFFFFF;
    margin: 0 13px;
    margin-top: 77px;
}
.E-banking-content-top-one{
    float: left;
    width: 481px;
    height: 53px;
    /* background-color: aqua; */
    margin-top: 18px;
    margin-left: 20px;
}
.E-banking-content-top-one img{
    float: left;
    width: 30px;
    height: 30px;
    /* margin-top: 7px; */
    /* margin-left: 7px; */
}
.E-banking-content-top-one h2{
    float: left;
    font-size: 19px;
    margin-left: 15px;
    margin-top: 4px;
}
.E-banking-content-top-one i{
    float: right;
    font-size: 19px;
    margin-top: 4px;
    color: #999999;
}
.E-banking-content-top-one-logo{
    float: left;
    width: 481px;
    height: 234px;
    /* background-color: aqua; */
    margin-left: 20px;
}
.E-banking-content-top-one-logo img{
    width: 481px;
    height: 234px;
}
.E-banking-content-top-one-size{
    float: left;
    width: 481px;
    height: 169px;
    /* background-color: aqua; */
    margin-left: 20px;
}
.E-banking-content-top-one-size-one{
    float: left;
    width: 481px;
}
.E-banking-content-top-one-size-one p{
    float: left;
    font-size: 19px;
    color: #666666;
    margin-top: 8px;
    margin-top: 32px;
}
.E-banking-content-top-one-size-one a i{
    float: right;
    width: 111px;
    height: 34px;
    background-color: #2279D5;
    text-align: center;
    line-height: 34px;
    font-size: 19px;
    color: #FFFFFF;
    border-radius: 50px;
    margin-top: 27px;
}
.E-banking-content-top-two-logo img{
    width: 481px;
    /* height: 234px; */
    margin-left: 20px;
    padding-bottom: 20px;
}
/* 9.投资理财/金融工具 */
.finance{
    height: 543px;
}
.finance-content{
    height: 543px;
    /* background-color: cyan; */
}
.finance-content-left{
    float: left;
    width: 1257px;
    height: 389px;
    /* background-color: darkorange; */
    margin-top: 84px;
}
.finance-content-left-top{
    float: left;
    border-bottom: 1px solid #DBDBDB;
    width: 1216px;
    height: 33px;
    margin-top: 20px;
    margin-left: 20px;
}
.finance-content-left-top img{
    float: left;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #CCCCCC;
    padding-bottom: 6px;
}
.finance-content-left-top h2{
    float: left;
    font-size: 25px;
    margin-left: 9px;
}
.finance-content-left-top a{
    float: left;
    font-size: 15px;
    padding: 8px 16px;
    margin-left: 25px;
}
.finance-content-left-top .alone{
    float: right;
}
.finance-content-left-top .newred{
    color: rgb(255, 0, 0);
}
.finance-content-left-middle img{
    float: left;
    width: 328px;
    height: 194px;
    margin-left: 20px;
}
.finance-content-left-middle a{
    float: left;
}
.finance-content-left-middle-content-one{
    float: left;
    margin-top: 34px;

}
.finance-content-left-middle-content-one h2{
    font-size: 25px;
    color: #2279D5;
    margin-left: 20px;
}
.finance-content-left-middle-content-one dl{
    float: left;
    text-align: center;
    margin-left: 20px;
}
.finance-content-left-middle-content-one dd{
    padding: 15px 37px;
    font-size: 20px;
    color: #999999;
}
.finance-content-left-middle-content-one .content-one{
    color: #ED2729;
}
.finance-content-left-middle-content-one .content-two{
    font-size: 40px;
    color: #ED2729;
}
.finance-content-left-middle-content-one-box{
    float: left;
    width: 219px;
    height: 56px;
    background-color: #F64C4D;
    margin-top: 96px;
    margin-left: 38px;
    border-radius: 10px;
}
.finance-content-left-middle-content-one-box a{
    line-height: 56px;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 69px;
}
.finance-content-left-middle-content-two{
    float: left;
    margin-top: -3px;

}
.finance-content-left-middle-content-two h2{
    font-size: 25px;
    color: #2279D5;
    margin-left: 20px;
}
.finance-content-left-middle-content-two dl{
    float: left;
    text-align: center;
    margin-left: 20px;
}
.finance-content-left-middle-content-two dd{
    padding: 15px 37px;
    font-size: 20px;
    color: #999999;
}
.finance-content-left-middle-content-two .content-one{
    color: #ED2729;
}
.finance-content-left-middle-content-two .content-two{
    font-size: 40px;
    color: #ED2729;
}
.finance-content-left-middle-content-one-box-two{
    float: left;
    width: 219px;
    height: 56px;
    background-color: #F64C4D;
    margin-top: 52px;
    margin-left: 38px;
    border-radius: 10px;
}
.finance-content-left-middle-content-one-box-two a{
    line-height: 56px;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 69px;
}
.finance-content-right{
    float: right;
    width: 301px;
    height: 389px;
    margin-top: 84px;
}

.finance-content-right-top {
    height: 48px;
    border-bottom: 1px solid    #cccccc     ;

}
.finance-content-right-top img{
    float: left;  
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 8px;
    margin-top: 13px;

}
.finance-content-right-top h2{
    float: left;
    font-size: 26px;
    line-height: 48px;
    margin-left: 14px;
}

.finance-content-right-bottom {
    height: 340px;
    width: 100%;
}

.finance-content-right-bottom  li{
    width: 150Px;
    height: 170px;
    float: left;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}
.finance-content-right-bottom  li div{
    margin-top: 20px;
}
/* 10.新闻/公告 */
.journalism{
    height: 612px;
    background-color: #F1F1F1;
}
.journalism-content li{
    float: left;
    width: 806px;
    height: 447px;
    background-color: #FFFFFF;
    margin: 0 9px;
    margin-top: 75px;
}
/* 11.底部 */
.under{
    height: 337px;
    background-color: #2279D5;
}


